.about-me p {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #1e4042;
}

.about-me p:nth-of-type(2) {
  margin-top: 16px;
  margin-bottom: 49px;
}

.about-me ul li::before {
  content: '\2022';
  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #617eba;
  /* Change the color */
  font-weight: bold;
  /* If you want it to be bold */
  display: inline-block;
  /* Needed to add space between the bullet and the text */
  width: 1em;
  /* Also needed for space (tweak if needed) */
  margin-left: -1em;
  /* Also needed for space (tweak if needed) */
}

.ourIcons {
  margin-bottom: 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #fff;
  width: 100px;
  height: 100px;
  padding: 30px 0;
  border-radius: 50%;
  background: #617eba;
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
}

.section-title {
  margin-bottom: 50px;
}

#coworkParagraph {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #1e4042;
}

.servicesDetails h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  text-transform: uppercase;
  color: #1e4042;
}

.servicesDetails ul {
  text-align: left;
}

.servicesDetails li {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin: 16px 0;
  color: #1e4042;
  margin-left: 15px;
}

.servicesDetails ul li::before {
  content: '\2022';
  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #617eba;
  /* Change the color */
  font-weight: bold;
  /* If you want it to be bold */
  display: inline-block;
  /* Needed to add space between the bullet and the text */
  width: 1em;
  /* Also needed for space (tweak if needed) */
  
}

.servicesDetails span {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #1e4042;
}

.servicesDetails button {
  display: block;
  margin-top: 10px;
  margin-left: 30px;
  text-align: center;
  color: #617eba;
  font-weight: 600;
  width: 304px;
  height: 42px;
  font-size: 18px;
  border: 2px solid #617eba;
  border-radius: 10px;
  outline: none;
  transition: all 0.5s linear;

}
.servicesDetails button:focus {
  border: 2px solid #617eba;
}
.servicesDetails button:hover {
	background-color:#617eba;
	color: white;
}
#footer h2{
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	padding-right: 40px;
	text-transform: none;
	color: #1e4042;
}

#footer p{
	font-size: 20px;
}

#footer .social-ico ul li {
	display: inline-block;
	margin-right: 30px ;	
}

#footer .social-ico i.fa {
	font-size: 30px;	
	padding: 12px 0;
	border-radius: 50%;
	transition: all 0.3s;
	color: #617eba;
	margin-top:50px;
}
#footer .contact i{
	font-size: 20px;	
	color: #617eba;	
	border-radius: 50%;
	transition: all 0.3s; 
	margin-left: 5px;
	margin-right: 10px;	
}

#footer .contact .nip{
	font-size: 16px;
	color: #617eba;
}

#footer .info a{
	font-size: 20px;	
	text-decoration: none;
	color:#888;
}

#footer .info ul li::before {
	content: '\003E';
	color: #617eba;
	font-weight: bold;
	display: inline-block;
    font-size: 20px;
    margin-right: 10px;	
}



